# MCP Annotations API Specification

openapi: 3.0.0
info:
  title: MCP Annotations API
  description: API for managing Model Context Protocol annotations
  version: 1.0.0
  contact:
    name: "@zenofolio"
    email: contact@zenofolio.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.mcp-annotations.com/v1
    description: Production server
  - url: https://staging-api.mcp-annotations.com/v1
    description: Staging server

paths:
  /annotations:
    get:
      summary: List annotations
      description: Retrieve a list of annotations with optional filtering
      parameters:
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/AnnotationType'
          description: Filter by annotation type
        - name: tags
          in: query
          schema:
            type: array
            items:
              type: string
          description: Filter by tags
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of annotations to return
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of annotations to skip
      responses:
        '200':
          description: List of annotations
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Annotation'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    post:
      summary: Create annotation
      description: Create a new annotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnnotationRequest'
      responses:
        '201':
          description: Annotation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /annotations/{id}:
    get:
      summary: Get annotation
      description: Retrieve a specific annotation by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Annotation ID
      responses:
        '200':
          description: Annotation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      summary: Update annotation
      description: Update an existing annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Annotation ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAnnotationRequest'
      responses:
        '200':
          description: Annotation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Annotation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      summary: Delete annotation
      description: Delete an annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Annotation ID
      responses:
        '204':
          description: Annotation deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    Annotation:
      type: object
      required:
        - id
        - type
        - content
        - metadata
        - context
        - createdAt
        - modifiedAt
        - version
      properties:
        id:
          type: string
          description: Unique identifier
        type:
          $ref: '#/components/schemas/AnnotationType'
        content:
          type: object
          description: Annotation content
        metadata:
          $ref: '#/components/schemas/AnnotationMetadata'
        context:
          $ref: '#/components/schemas/AnnotationContext'
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        version:
          type: integer

    AnnotationType:
      type: string
      enum: [context, metadata, reference, instruction, constraint, example]

    AnnotationMetadata:
      type: object
      required:
        - tags
        - importance
        - source
      properties:
        tags:
          type: array
          items:
            type: string
        importance:
          type: integer
          minimum: 1
          maximum: 10
        source:
          type: string
        author:
          type: string
        properties:
          type: object

    AnnotationContext:
      type: object
      required:
        - relationships
        - scope
        - permissions
      properties:
        relationships:
          type: array
          items:
            type: string
        scope:
          type: string
        permissions:
          $ref: '#/components/schemas/AnnotationPermissions'
        processingHints:
          $ref: '#/components/schemas/ProcessingHints'

    AnnotationPermissions:
      type: object
      required:
        - read
        - write
        - delete
      properties:
        read:
          $ref: '#/components/schemas/PermissionLevel'
        write:
          $ref: '#/components/schemas/PermissionLevel'
        delete:
          $ref: '#/components/schemas/PermissionLevel'

    PermissionLevel:
      type: string
      enum: [public, authenticated, owner, private]

    ProcessingHints:
      type: object
      properties:
        cacheDuration:
          type: integer
        indexed:
          type: boolean
        priority:
          type: integer
          minimum: 1
          maximum: 10
        instructions:
          type: array
          items:
            type: string

    CreateAnnotationRequest:
      type: object
      required:
        - type
        - content
        - metadata
        - context
      properties:
        type:
          $ref: '#/components/schemas/AnnotationType'
        content:
          type: object
        metadata:
          $ref: '#/components/schemas/AnnotationMetadata'
        context:
          $ref: '#/components/schemas/AnnotationContext'

    UpdateAnnotationRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AnnotationType'
        content:
          type: object
        metadata:
          $ref: '#/components/schemas/AnnotationMetadata'
        context:
          $ref: '#/components/schemas/AnnotationContext'

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []